<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capsules</title>
    <script type="module" src="../js/capsules.js"></script>
</head>
<body>

    <h1>Capsules</h1>
    <div id="capsule-details"></div>
    <div id="buttons-container"></div>
    <div id="button_container_counts_ID"></div>
    

    <a href="rockets.html">rockets</a>
    <a href="capsules.html">capsules</a>
    <a href="crew.html">crew</a>
    <a href="launches.html">launches</a>
    <a href="cores.html">cores</a>
    <a href="landpads.html">landpads</a>
    <a href="ships.html">ships</a>
    <a href="company.html">company</a>
    <a href="dragons.html">dragons</a>
    <a href="history.html">history</a>
    <a href="launchpads.html">launchpads</a>
    <a href="payloads.html">payloads</a>
    <a href="roadster.html">roadster</a>
    <a href="starlink.html">starlink</a>
</body>
</html>