<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Launchpads</title>
    <script type="module" src="../js/launchpads.js"></script>
    <link rel="stylesheet" href="../css/launchpads.css">
</head>
<body>
    <div id="title">
        <h1>Launchpads</h1>
    </div>
    <div id="launchpads-details"></div>
    <section id="bottons">
        <div id="buttons-container"></div>
        <div id="button_container_counts_ID"></div>
            <div id="bottons_html">

                <div id="bottonsForPagehtml">
                    <a href="rockets.html" id="rockets">
                        <img src="../storage/img/rocketsIcon.svg">
                        rockets
                    </a>
                    <a href="capsules.html" id="capsules">   
                        <img src="../storage/img/capsulesIcon.svg">
                        capsules</a>
                    <a href="crew.html" id="crew">  
                        <img src="../storage/img/crewIcon.svg">
                        crew
                    </a>
                    <a href="launches.html" id="launches">  
                        <img src="../storage/img/launchesIcon.svg">
                        launches
                    </a>
                    <a href="cores.html" id="cores">   
                        <img src="../storage/img/coresIcon.svg">
                        cores
                    </a>
                    <a href="landpads.html" id="landpads"> 
                        <img src="../storage/img/world-svgrepo-com.svg">
                        landpads
                    </a>
                    <a href="ships.html" id="ships">   
                        <img src="../storage/img/shipIcon.svg">
                        ships
                    </a>
                    <a href="company.html" company> 
                        <img src="../storage/img/companyIcon.svg">
                        company</a>
                    <a href="dragons.html" id="dragons">   
                        <img src="../storage/img/dragonsIcon.svg">
                        dragons
                    </a>
                    <a href="history.html" id="history">    
                        <img src="../storage/img/historyIcon.svg">
                        history</a>
                    <a href="launchpads.html" id="launchpads">    
                        <img src="../storage/img/launchpadsIcon.svg">
                        launchpads</a>
                    <a href="payloads.html" id="payloads">    
                        <img src="../storage/img/payloadsIcon.svg">
                        payloads
                    </a>
                    <a href="roadster.html" id="roadster">   
                        <img src="../storage/img/roadsterIcon.svg">
                        roadster
                    </a>
                    <a href="starlink.html" id="starlink">
                        <img src="../storage/img/starlinkIcon.svg">
                        starlink
                    </a>
                </div>
            </div>
    </section>
</body>
</html>