<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rockets</title>
    <script type="module" src="../js/rockets.js"></script>
    <link rel="stylesheet" href="../css/rockets.css">
</head>
<body>
    <div id="title">
        <h1>Rockets</h1> 
    </div>
    <div id="rocket-details"></div>
    <section id="bottons">
        <div id="buttons-container"></div>
        <div id="button_container_counts_ID"></div>
            <div id="bottons_html">

                <div id="bottonsForPagehtml">
                    <a href="rockets.html">
                        <img src="../storage/img/rocketsIcon.svg">
                        rockets
                    </a>
                    <a href="capsules.html">   
                        <img src="../storage/img/capsulesIcon.svg">
                        capsules</a>
                    <a href="crew.html">  
                        <img src="../storage/img/crewIcon.svg">
                        crew
                    </a>
                    <a href="launches.html">  
                        <img src="../storage/img/launchesIcon.svg">
                        launches
                    </a>
                    <a href="cores.html">   
                        <img src="../storage/img/coresIcon.svg">
                        cores
                    </a>
                    <a href="landpads.html"> 
                        <img src="../storage/img/world-svgrepo-com.svg">
                        landpads
                    </a>
                    <a href="ships.html">   
                        <img src="../storage/img/shipIcon.svg">
                        ships
                    </a>
                    <a href="company.html"> 
                        <img src="../storage/img/companyIcon.svg">
                        company</a>
                    <a href="dragons.html">   
                        <img src="../storage/img/dragonsIcon.svg">
                        dragons
                    </a>
                    <a href="history.html">    
                        <img src="../storage/img/historyIcon.svg">
                        history</a>
                    <a href="launchpads.html">    
                        <img src="../storage/img/launchpadsIcon.svg">
                        launchpads</a>
                    <a href="payloads.html">    
                        <img src="../storage/img/payloadsIcon.svg">
                        payloads
                    </a>
                    <a href="roadster.html">   
                        <img src="../storage/img/roadsterIcon.svg">
                        roadster
                    </a>
                    <a href="starlink.html">
                        <img src="../storage/img/starlinkIcon.svg">
                        starlink
                    </a>
                </div>
            </div>
    </section>

</body>
</html>